/*VARIABLES*/
$color-primario: #000000;
$color-secundario: #086446;
$texto: negro;
/* TIPOS DE LETRAS */
h1{ /*Encabezado 1*/
    color:rgb(50, 53, 52);
    font-family: 'Montserrat', sans-serif;
   /* font-size: 30px;*/
  }
  h2{/*Encabezado 2*/
    color:rgb(4, 145, 98);
    font-family: 'Montserrat', sans-serif;
   /* font-size: 20px;*/
  }
  p{/*Parrafos*/
    @if 1 + 1 == 2{
        color:rgb(29, 28, 28);
    }
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    text-align: justify;
    padding: 10px;
    margin: 10px;
   /* display: flex;*/
   @if 4 != 2 {
    border: 2px solid rgb(11, 190, 116);
   }
  }
  
  h3{/*Encabezado 3*/
    @if $texto == negro
    {
        color: $color-primario;
    }
    color: rgb(23, 134, 92);
    font-family: 'Montserrat', sans-serif;
    /*font-size: 18px;*/
  }
  h4{/*Encabezado 4*/
    color:$color-primario;
    font-family: 'Montserrat', sans-serif;
  }
  

  /*MENU DE NAVEGACION*/

   .logo{ 
    width: 110px;
    display: flex;
    flex-flow: nowrap;
    color: aqua;
    order: -1;  
  }
  header{
    background-color: white;
  }
/*Encabezado imagen*/
   .imagenEncabezado{ 
    background-image:url("momo1.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: none;
    font-size: 40px;
    color:white;
    height: 200px;
    line-height: auto;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    vertical-align: middle;
    text-shadow: rgb(0, 0, 0) 0px 0px 20px; 
  }

  .indexInformacion{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:$color-secundario;
    justify-content: center;
  }

  .indexInformacion__bold{/*negrita*/
    font-weight: bold;
  }
  .grill{
    display: grid;
    grid-template-columns: 3fr 2fr;/*ancho*/
    grid-template-rows: 2fr 1fr;/*altp*/
  }
  .ul{/*Lista*/
    margin-left: 30px;
    padding: 10px;
    color: rgb(46, 43, 46);
    list-style-image: url(asterisk.png);
    list-style-position: inside;
    font-family: 'Roboto', sans-serif;
  }
  .Centro{
    align-items: center;
    justify-content: center;
    padding-top: 70px;
  }  
  
.textoImagenCentro{/*para imagene sy texto en centro*/
    text-align:center;
    justify-content: center;
    display: block;
    margin-right: 30px; /* top , right bottom left*/
    width: 80%;
  }

  /*NOSOTROS*/
  .nosotros{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: azure;
    justify-content: center;
  }
  .tamonoNosotros{
    width: auto;
    color: white;
    display: flex;
  }
  .menuFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .menuFlex_article{
    background-color: black;
    padding: 10px;
    margin: 5px 5px;
    width: 150px;
  }
  .menuFlex_article:hover
{	transform: scale(1.2, 1.2);

	}
  .tamanoDeTeam{/*Imagenes del equipo*/
    width:150px;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    display: inline;
  }
  .cajaFlex{/*Estilos de flex: ;*/
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: row wrap;
    color: azure;
    justify-content: space-around;
    flex-grow: 1;
  }
  .centro{
    text-align:center;
    justify-content: center;
    display: block;
    margin-right: 30px; /* top , right bottom left*/
    width: 80%;
    animation-duration: 2s;
     animation-name: aparecer;
  }
  .centro:hover {
    height: 100px;
  }

  /*PORTAFOLIO*/
  .articleporta{
    background-color: black;
    border: 15px solid rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    display: inline;
  }
  .articleBox{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: row wrap;
    color: azure;
    justify-content: stretch;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px;
  }
  .articleporta:hover
{	transform: scale(1.2, 1.2);

	}
/*CONTACTO*/

/*tamano google maps*/
.tamanoCajaMaps{
    width: 200px;
    height: 350px;
    display:inline;
    position: relative;
    left: 150px;
    background-size: auto;
    
  }
  .tamanoForm{/*tamano google maps*/
    width: 510px;
    height: 200px;
    position: initial;
    display: inline-block;
  }
  .italica{/*italica*/
    font-style: italic;
  
  }

  /*FOOTER*/
  .quieto{
    align-self: flex-end;
    position: sticky;
  
    line-height: 1.5;
    text-align: center;
    width: 100%;
    background-color: $color-primario;
  
  }
  .espaciado{/* espaciado de MOMO footer*/
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .colorLetraFoo{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
  }
  @for $i from 1 through 4{
    h#{$i} {font: 3em / $i}

  }

  /**/
  /*responsive*/
@media (min-widht:992px){

}

/*tbleta*/
@media (min-widht:577px) and (max-width:991px){
  body{ background-color: azure;}
}


/*mobile*/
@media (max-width: 576px){
  body{background-color: rgb(255, 255, 255);}
}